<section class="about-section" id="about-us">
  <div class="container about-container">
    <div class="about-row">
      <h2 class="section-title about-title">About us</h2>
      <ul class="about-list">
        <li class="about-item">
          <p class="text about-text">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </li>
        <li class="about-item-small">
          <p class="text about-text">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device – it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best? Browse our collection today and discover the perfect
            watch for you.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
