<section class="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="list catalog-elements">
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_1_1.png     1x,
                ../img/catalog/catalog_1_1_@2x.png 2x
              "
              src="../img/catalog/catalog_1_1.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-pictures-text">€395</p>
      </li>
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_2_1.png     1x,
                ../img/catalog/catalog_2_1_@2x.png 2x
              "
              src="../img/catalog/catalog_2_1.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">Avondale Watch Police For Men</h3>
        <p class="catalog-pictures-text">€800</p>
      </li>
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_3_1.png     1x,
                ../img/catalog/catalog_3_1_@2x.png 2x
              "
              src="../img/catalog/catalog_3_1.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">
          Diver 300M Co-Axial Master Chronometer Chronograph
        </h3>
        <p class="catalog-pictures-text">€600</p>
      </li>
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_4_1.png     1x,
                ../img/catalog/catalog_4_1_@2x.png 2x
              "
              src="../img/catalog/catalog_4_1.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">
          Diver 300M Co-Axial Master Chronometer
        </h3>
        <p class="catalog-pictures-text">€1400</p>
      </li>
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_1_2.png     1x,
                ../img/catalog/catalog_1_2_@2x.png 2x
              "
              src="../img/catalog/catalog_1_2.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">Taman Watch By Police For Men</h3>
        <p class="catalog-pictures-text">€500</p>
      </li>
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_2_2.png     1x,
                ../img/catalog/catalog_2_2_@2x.png 2x
              "
              src="../img/catalog/catalog_2_2.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">Malawi Watch Police For Men</h3>
        <p class="catalog-pictures-text">€555</p>
      </li>
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_3_2.png     1x,
                ../img/catalog/catalog_3_2_@2x.png 2x
              "
              src="../img/catalog/catalog_3_2.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">
          Diver 300M Co-Axial Master Chronometer
        </h3>
        <p class="catalog-pictures-text">€1200</p>
      </li>
      <li class="catalog-element">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_4_2.png     1x,
                ../img/catalog/catalog_4_2_@2x.png 2x
              "
              src="../img/catalog/catalog_4_2.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">
          Greenlane Watch By Police For Men
        </h3>
        <p class="catalog-pictures-text">€1000</p>
      </li>
      <li class="catalog-element catalog-element-hidden">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_1_3.png     1x,
                ../img/catalog/catalog_1_3_@2x.png 2x
              "
              src="../img/catalog/catalog_1_3.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">Taman Watch By Police For Men</h3>
        <p class="catalog-pictures-text">€500</p>
      </li>
      <li class="catalog-element catalog-element-hidden">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_2_3.png     1x,
                ../img/catalog/catalog_2_3_@2x.png 2x
              "
              src="../img/catalog/catalog_2_3.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">Malawi Watch Police For Men</h3>
        <p class="catalog-pictures-text">€555</p>
      </li>
      <li class="catalog-element catalog-element-hidden">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_2_2.png     1x,
                ../img/catalog/catalog_2_2_@2x.png 2x
              "
              src="../img/catalog/catalog_2_2.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">
          Diver 300M Co-Axial Master Chronometer
        </h3>
        <p class="catalog-pictures-text">€1200</p>
      </li>
      <li class="catalog-element catalog-element-hidden">
        <div class="catalog-container-pictures">
          <div class="catalog-pictures">
            <img
              class="catalog-picture"
              srcset="
                ../img/catalog/catalog_4_3.png     1x,
                ../img/catalog/catalog_4_3_@2x.png 2x
              "
              src="../img/catalog/catalog_4_3.png"
              alt="clock"
              width="276"
              height="274"
            />
          </div>
          <div class="catalog-overlay">
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Description</h3>
              <p class="catalog-overlay-text">
                Richly detailed with an understated design - the police men’s
                greenlane watch.
              </p>
            </div>
            <div class="catalog-overlay-bloc">
              <h3 class="catalog-overlay-title">Details & Features</h3>
              <p class="catalog-overlay-text">Gender: Man</p>
              <p class="catalog-overlay-text">Size: 46x54.5mm</p>
              <p class="catalog-overlay-text">Case Colour: Steel</p>
              <p class="catalog-overlay-text">Band Material: Metal</p>
              <p class="catalog-overlay-text">Case Material: Metal</p>
              <p class="catalog-overlay-text">Features: Multifunction</p>
              <p class="catalog-overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="catalog-overlay-text">Band Colour: Steel</p>
            </div>
          </div>
        </div>
        <h3 class="catalog-pictures-title">
          Greenlane Watch By Police For Men
        </h3>
        <p class="catalog-pictures-text">€1000</p>
      </li>
    </ul>
    <button type="button" class="catalog-button">Buy now</button>
  </div>
</section>
