<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="general-wrapper">
        <div class="column-wrapper">
          <a class="footer-logo-link" href="./index.html">

            <img src="./img/logo.svg" alt="logo">
          </a>

          <div class="footer-contacts-box">
            <ul class="footer-contacts">
              <li>
                <a class="footer-phone-number" href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
              </li>
              <li>
                <a class="footer-adress" href="https://goo.gl/maps/qsery21h5WdSSQM38" target="_blank"
                  rel="noopener noreferrer">1678 S. Pioneer Road Salt Lake City UT 84104</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-nav-box">
          <nav>
            <ul class="footer-nav">
              <li><a href="#about-us">about us</a></li>
              <li><a href="#catalog">catalog</a></li>
              <li><a href="#sale">sale</a></li>
            </ul>
          </nav>
        </div>

        <div class="footer-social-icon-box">
          <ul class="footer-social-icon-list">
            <li>
              <a href="#" target="_blank" class="footer-icon-box">
                <svg class="footer-social-icon" width="28" height="28">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer-icon-box">
                <svg class="footer-social-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer-icon-box">
                <svg class="footer-social-icon" width="25" height="25">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-privacy-box">
        <div class="footer-copyright">
          ©2022 The Watch Spot. All rights reserved.
        </div>

        <div class="footer-privacy">
          <a href="#" rel="noopener noreferrer">Privacy Policy</a>
          <a href="#" rel="noopener noreferrer">Terms of Service</a>
        </div>
      </div>

    </div>
  </div>
  </div>
</footer>