<header class="header">
  <div class="container js-menu-container">
    <div class="logo-box">
      <img src="../img/logo.svg" alt="" class="header-logo" />
      <p class="logo-text">thewatchspot</p>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./page-2.html" class="nav-link">Page 2</a>
        </li>

        <li class="nav-item">
          <a href="./page-3.html" class="nav-link">Page 3</a>
        </li>
      </ul>
      <button type="button" class=""></button>
    </nav>
  </div>
</header>
