<header class="header">
  <div class="container">
    <div class="logo-box">
      <img src="./img/logo.svg" alt="" class="header-logo" />
      <p class="logo-text">Thewatchspot</p>
    </div>

    <button type="button" class="menu-btn js-open-menu" aria-expanded="false">
      <svg width="24" height="24" aria-label="Перемикач мобільного меню">
        <use href="./img/icons.svg#icon-burger-menu" class="icon-menu"></use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about-us" class="nav-link link">About us</a>
        </li>

        <li class="nav-item">
          <a href="#catalog" class="nav-link link">Catalog<</a>
        </li>

        <li class="nav-item">
          <a href="#sale" class="nav-link link">Sale<</a>
        </li>
      </ul>
    </nav>
    <a class="tel" href="tel:+380684439426">+380 (68) 443-94-26<</a>
  </div>
  <!-- Мобільне меню -->
  <div class="js-menu-container">
    <div class="logo-button">
      <div class="logo-box">
        <img src="./img/logo.svg" alt="" class="header-logo" />
        <p class="logo-text">Thewatchspot</p>
      </div>

      <button
        type="button"
        class="menu-btn js-close-menu"
        aria-expanded="false"
      >
        <svg width="24" height="24" aria-label="Перемикач мобільного меню">
          <use href="./img/icons.svg#icon-cross" class="icon-cross"></use>
        </svg>
      </button>
    </div>

    <nav class="nav-menu">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a class="js-close-menu" href="#about-us">About us</a>
        </li>

        <li class="menu-list-item">
          <a class="js-close-menu" href="#catalog">Catalog</a>
        </li>

        <li class="menu-list-item">
          <a class="js-close-menu" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <a class="tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
  </div>
</header>
