<section class="hero">
  <div class="container hero_conteiner">
    <h1 class="hero_title">Welcome to our collection of premium watches</h1>
    <div class="hero_list">
      <div>
        <div class="swiper-container">
          <div class="swiper myswiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture class="swiper-img">
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_desk+table/watch_1.jpg     1x,
                      ./img/swiper/watch_swiper_desk+table/watch_1_@2x.jpg 2x
                    "
                    width="436"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_phone/watch_1_phone.jpg     1x,
                      ./img/swiper/watch_swiper_phone/watch_1_phone_@2x.jpg 2x
                    "
                    width="266"
                  />
                  <img
                    src="./img/swiper/watch_swiper_phone/watch_1_phone.jpg"
                    alt="watch"
                    width="266"
                  />
                </picture>
              </div>

              <div class="swiper-slide">
                <picture class="swiper-img">
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_desk+table/watch_2.jpg     1x,
                      ./img/swiper/watch_swiper_desk+table/watch_2_@2x.jpg 2x
                    "
                    width="436"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_phone/watch_2_phone.jpg     1x,
                      ./img/swiper/watch_swiper_phone/watch_2_phone_@2x.jpg 2x
                    "
                    width="266"
                  />
                  <img
                    src="./img/swiper/watch_swiper_phone/watch_2_phone.jpg"
                    alt="watch"
                    width="266"
                  />
                </picture>
              </div>

              <div class="swiper-slide">
                <picture class="swiper-img">
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_desk+table/watch_3.jpg     1x,
                      ./img/swiper/watch_swiper_desk+table/watch_3_@2x.jpg 2x
                    "
                    width="436"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_phone/watch_3_phone.jpg     1x,
                      ./img/swiper/watch_swiper_phone/watch_3_phone_@2x.jpg 2x
                    "
                    width="266"
                  />
                  <img
                    src="./img/swiper/watch_swiper_phone/watch_3_phone.jpg"
                    alt="watch"
                    width="266"
                  />
                </picture>
              </div>

              <div class="swiper-slide">
                <picture class="swiper-img">
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_desk+table/watch_4.jpg     1x,
                      ./img/swiper/watch_swiper_desk+table/watch_4_@2x.jpg 2x
                    "
                    width="436"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_phone/watch_4_phone.jpg     1x,
                      ./img/swiper/watch_swiper_phone/watch_4_phone_@2x.jpg 2x
                    "
                    width="266"
                  />
                  <img
                    src="./img/swiper/watch_swiper_phone/watch_4_phone.jpg"
                    alt="watch"
                    width="266"
                  />
                </picture>
              </div>

              <div class="swiper-slide">
                <picture class="swiper-img">
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_desk+table/watch_5.jpg     1x,
                      ./img/swiper/watch_swiper_desk+table/watch_5_@2x.jpg 2x
                    "
                    width="436"
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/swiper/watch_swiper_phone/watch_5_phone.jpg     1x,
                      ./img/swiper/watch_swiper_phone/watch_5_phone_@2x.jpg 2x
                    "
                    width="266"
                  />
                  <img
                    src="./img/swiper/watch_swiper_phone/watch_5_phone.jpg"
                    alt="watch"
                    width="266"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="hero_slider-controller">
          <div class="hero_btn-conteiner">
            <button class="hero_slider-btn button-prev">
              <svg class="hero_btn-icon">
                <use href="./img/icons.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button class="hero_slider-btn button-next">
              <svg class="hero_btn-icon">
                <use href="./img/icons.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="hero_counter-conteiner">
            <span class="hero_slider-counter hero_slider-counter-hyphen">
              01
            </span>
            <span class="hero_slider-counter"> 05 </span>
          </div>
        </div>
      </div>
      <p class="hero_slogan">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
      <picture>
        <source
          srcset="
            ./img/min_background/min_background_desk.jpg     1x,
            ./img/min_background/min_background_desk_@2x.jpg 2x
          "
          width="676"
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/min_background/min_background_table.jpg     1x,
            ./img/min_background/min_background_table_@2x.jpg 2x
          "
          width="704"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/min_background/min_background_tel.jpg     1x,
            ./img/min_background/min_background_tel_@2x.jpg 2x
          "
          width="335"
        />

        <img src="./min_background/min_background_tel" alt="" width="335" />
      </picture>
    </div>
  </div>
</section>
