<section class="hero">
  <div class="container">
    <h1 class="hero_title">Welcome to our collection of premium watches</h1>
    <ul class="hero_list">
      <li>
        <img src="../img/swiper/watch_swiper_phone/watch_1_phone.jpg" alt="" />
        <div class="hero_slider-controller">
          <div class="hero_btn-conteiner">
            <button class="hero_slider-btn">
              <svg class="hero_btn-icon">
                <use href="../img/icons.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button class="hero_slider-btn">
              <svg class="hero_btn-icon">
                <use href="../img/icons.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="hero_counter-conteiner">
            <span class="hero_slider-counter hero_slider-counter-hyphen">
              01
            </span>
            <span class="hero_slider-counter"> 05 </span>
          </div>
        </div>
      </li>
      <li>
        <p class="hero_slogan">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </li>
    </ul>
    <div class="hero_background-img"></div>
  </div>
</section>
