<section class="hero">
  <div class="container">
    <h1 class="hero_title">Welcome to our collection of premium watches</h1>
    <div class="hero_list">
      <div>
        <picture>
          <source
            srcset="
              ./img/swiper/watch_swiper_desk+table/watch_1.jpg     1x,
              ./img/swiper/watch_swiper_desk+table/watch_1_@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/swiper/watch_swiper_phone/watch_1_phone.jpg     1x,
              ./img/swiper/watch_swiper_phone/watch_1_phone_@2x.jpg 2x
            "
            media="(min-width:375px)"
          />

          <img src="./img/swiper/watch_swiper_phone/watch_1_phone.jpg" alt="" />
        </picture>

        <div class="hero_slider-controller">
          <div class="hero_btn-conteiner">
            <button class="hero_slider-btn">
              <svg class="hero_btn-icon">
                <use href="./img/icons.svg#icon-left-arrow"></use>
              </svg>
            </button>
            <button class="hero_slider-btn">
              <svg class="hero_btn-icon">
                <use href="./img/icons.svg#icon-right-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="hero_counter-conteiner">
            <span class="hero_slider-counter hero_slider-counter-hyphen">
              01
            </span>
            <span class="hero_slider-counter"> 05 </span>
          </div>
        </div>
      </div>
      <p class="hero_slogan">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
      <picture>
        <source
          srcset="
            ./img/min_background/min_background_desk.jpg     1x,
            ./img/min_background/min_background_desk_@2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/min_background/min_background_table.jpg     1x,
            ./img/min_background/min_background_table_@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/min_background/min_background_tel.jpg     1x,
            ./img/min_background/min_background_tel_@2x.jpg 2x
          "
          media="(min-width:375px)"
        />

        <img src="./min_background/min_background_tel" alt="" />
      </picture>
    </div>
  </div>
</section>
