<section class="new-watches">
  <div class="container">
    <h2 class="new-watches-title">New Watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
          <picture class="new-watches-images">
            <source
              srcset="
                ./img/new_watch/second_desk.jpg  1x,
                ./img/new_watch/second_desk_@2x.jpg 2x
              "
              width="576"
              media="(min-width: 1158px)"
            />
            <source
              srcset="
                ./img/new_watch/second_tabl.jpg   1x,
                ./img/new_watch/second_tabl_@2x.jpg  2x
              "
              width="342"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/new_watch/second_tel.jpg    1x,
                ./img/new_watch/second_tel_@2x.jpg  2x
              "
              width="335"
            />
            <img
              class="new-watches-images"
              src="./img/new_watch/second_desk.jpg  "
              alt="watch"
              width="335"
            />
          </picture>
      </li>
      <li class="new-watches-item">
        <picture class="new-watches-images">
        <source
            srcset="
              ./img/new_watch/first_desk.jpg  1x,
              ./img/new_watch/first_desk_@2x.jpg 2x
            "
            width="576"
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./img/new_watch/first_tabl.jpg   1x,
              ./img/new_watch/first_tabl_@2x.jpg  2x
            "
            width="342"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new_watch/first_tel.jpg    1x,
              ./img/new_watch/first_tel_@2x.jpg 2x
            "
            width="335"
          />
          <img
            class="new-watches-images"
            src="./img/new_watch/first_desk.jpg "
            alt="watch"
            width="335"
          />
        </picture>
      </li>
    </ul>
  

</section>
