<section class="new-watches">
  <div class="container">
    <h2 class="new-watches-title">New Watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <div class="new-watches-picture">
        <img
          class="new-watches-img"
          srcset="
            ./img/new_watch/second_tel.jpg     1x,
            ./img/new_watch/second_tel_@2x.jpg 2x
          "
          src="./img/new_watch/second_tel.jpg"
          alt="hand-watch"
          width="335"
        />
      </li>
      <li class="new-watches-item">
        <img
          class="new-watches-img"
          srcset="
            ./img/new_watch/first_tel.jpg     1x,
            ./img/new_watch/first_tel_@2x.jpg 2x
          "
          src="./img/new_watch/first_tel.jpg"
          alt="watch"
          width="335"
        />
      </li>
    </ul>
  </div>
</section>
