<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="modal-close-x" width="24px" height="24px">
                <use href="./img/icons.svg#icon-cross"></use>
            </svg>
        </button>
        <div class="modal-content">
            <img class="modal-picture" 
                srcset="./img/catalog/catalog_1_1.png 1x,
                        ./img/catalog/catalog_1_1_@2x.png 2x" 
                        src="./img/catalog/catalog_1_1.png" 
                        alt="Steel watch with black" width="276" height="274" />
            <div class="modal-descr">
                <p class="modal-text">Tube Watch S42 Date Steel With Black </p>
                <span class="modal-price">€395</span>
            </div>
        </div>

        <form class="modal-form">
            <label class="modal-form-field">
                <span class="modal-form-input-descr">Full name</span>
                <input type="text" name="text" class="modal-form-input" minlength="3" pattern="{a-zA-Z]+\s[a-zA-Z}" title="Username must be two words separated by space." placeholder="Enter your full name" required>
            </label>

            <label class="modal-form-field">
                <span class="modal-form-input-descr">Email</span>
                <input type="email" name="email" class="modal-form-input" placeholder="Enter your email" required>
            </label>

            <label class="modal-form-field">
                <span class="modal-form-input-descr">Card number</span>
                <input type="tel" name="card" pattern=".{16}" class="modal-form-input" placeholder="Enter card" required>
            </label>

            <label class="modal-form-field-textarea">
                <span class="modal-form-input-descr">Comments</span>
                <textarea name="user_message" class="modal-form-message" rows="5" placeholder="Enter your text"></textarea>
            </label>

            <button type="submit" class="modal-form-submit">Submit</button>
            <p class="modal-form-text">By clicking on “Send message” button, you agree to our <a href="" class="modal-policy-link">Privacy Policy</a> , and allow Promodo to use this information for
            marketing purposes.</p>
        </form>


    </div>
</div>