<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="modal-close-x" width="24px" height="24px">
                <use href=""></use>
            </svg>
        </button>
        <div class="modal-content">
            <img class="modal-picture" 
                srcset="../img/catalog/catalog_1_1.png 1x,
                        ../img/catalog/catalog_1_1_@2x.png 2x" 
                        src="../img/catalog/catalog_1_1.png" 
                        alt="Steel watch with black" width="276" height="274" />
            <p class="modal-descr">Tube Watch S42 Date Steel With Black </p>
            <span class="modal-price">€395</span>
        </div>

        <form class="modal-form">
            <label class="modal-form-field">
                <span class="modal-form-input-descr">Full name</span>
                <input type="text" name="user_name" class="modal-form-input" required="" pattern="^[a-zA-Z]+$" placeholder="Enter your full name">
            </label>

            <label class="modal-form-field">
                <span class="modal-form-input-descr">Email</span>
                <input type="email" name="email" class="modal-form-input" placeholder="Enter your email">
            </label>

            <label class="modal-form-field">
                <span class="modal-form-input-descr">Card number</span>
                <input type="tel" name="card" pattern="0-9" maxlength="16" class="modal-form-input" placeholder="Enter card">
            </label>

            <label class="modal-form-field">
                <span class="modal-form-input-descr">Comments</span>
                <textarea name="user_message" class="modal-form-message" placeholder="Enter your text"></textarea>
            </label>

            <button type="submit" class="modal-form-submit">submit</button>
            <p class="modal-form-text">By clicking on “Send message” button, you agree to our Privacy Policy, and allow Promodo to use this information for
            marketing purposes.</p>
        </form>


    </div>
</div>