<section class="sale">
  <div class="container">
    <h2 class="sale-title title">Sale</h2>
    <div class="sale-gallery">
      <div class="sale-gallery-wrapper">
        <ul class="sale-gallery-list">
          <li class="sale-gallery-item">
            <img src="" alt="watch image" width="80" height="80" />
          </li>
          <li class="sale-gallery-item">
            <img src="" alt="watch image" width="80" height="80" />
          </li>
          <li class="sale-gallery-item">
            <img src="" alt="watch image" width="80" height="80" />
          </li>
          <li class="sale-gallery-item">
            <img src="" alt="watch image" width="80" height="80" />
          </li>
        </ul>
        <img src="" alt="watch image" width="235" height="350" />
      </div>
    </div>
    <div class="sale-info">
      <h3 class="sale-info-title">Greenlane Watch By Police For MenHT</h3>
      <p class="sale-info-subtitle">Product tag: PEWJK2227003</p>
      <p class="sale-info-price">€700</p>
      <p class="sale-info-price invalid">€1000</p>
      <div class="info-subblock">
        <h4 class="info-subblock-title">Description</h4>
        <p class="info-subblock-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="info-subblock">
        <h4 class="info-subblock-title">Details & Featurestion</h4>
        <p class="info-subblock-text">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
    </div>
  </div>
</section>
