<section class="sale">
  <div class="container">
    <h2 class="sale-title section-title" id="sale">Sale</h2>
    <div class="sale-center-wrapper">
      <div class="sale-gallery">
        <div class="sale-gallery-wrapper">
          <ul class="sale-gallery-list">
            <li class="sale-gallery-item">
              <picture>
                <source
                  srcset="
                    ./img/sale/img_2_phone.jpg     1x,
                    ./img/sale/img_2_phone_@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                  width="80"
                />
                <source
                  srcset="./img/sale/img_2.jpg 1x, ./img/sale/img_2_@2x.jpg 2x"
                  media="(min-width:768px)"
                  width="146"
                />
                <img src="./img/sale/img_2.jpg" alt="watch image" />
              </picture>
            </li>
            <li class="sale-gallery-item">
              <picture>
                <source
                  srcset="
                    ./img/sale/img_3_phone.jpg     1x,
                    ./img/sale/img_3_phone_@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                  width="80"
                />
                <source
                  srcset="./img/sale/img_3.jpg 1x, ./img/sale/img_3_@2x.jpg 2x"
                  media="(min-width:768px)"
                  width="146"
                />
                <img src="./img/sale/img_3.jpg" alt="watch image" />
              </picture>
            </li>
            <li class="sale-gallery-item">
              <picture>
                <source
                  srcset="
                    ./img/sale/img_4_phone.jpg     1x,
                    ./img/sale/img_4_phone_@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                  width="80"
                />
                <source
                  srcset="./img/sale/img_4.jpg 1x, ./img/sale/img_4_@2x.jpg 2x"
                  media="(min-width:768px)"
                  width="146"
                />
                <img src="./img/sale/img_4.jpg" alt="watch image" />
              </picture>
            </li>
            <li class="sale-gallery-item">
              <picture>
                <source
                  srcset="
                    ./img/sale/img_5_phone.jpg     1x,
                    ./img/sale/img_5_phone_@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                  width="80"
                />
                <source
                  srcset="./img/sale/img_5.jpg 1x, ./img/sale/img_5_@2x.jpg 2x"
                  media="(min-width:768px)"
                  width="146"
                />
                <img src="./img/sale/img_5.jpg" alt="watch image" />
              </picture>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="
              ./img/sale/img_1_phone.jpg     1x,
              ./img/sale/img_1_phone_@2x.jpg 2x
            "
            media="(max-width:767px)"
            width="235"
          />
          <source
            srcset="./img/sale/img_1.jpg 1x, ./img/sale/img_1_@2x.jpg 2x"
            media="(min-width:768px)"
            width="406"
          />
          <img src="./img/sale/img_1.jpg" alt="watch image" />
        </picture>
      </div>
      <div class="sale-info">
        <h3 class="sale-info-title">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-info-id text">Product tag: PEWJK2227003</p>
        <div class="info-price-wrapper">
          <p class="sale-info-price">€700</p>
          <p class="sale-info-price invalid">€1000</p>
        </div>
        <div class="info-subblock">
          <h4 class="info-subblock-title">Description</h4>
          <p class="info-subblock-text text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="info-subblock">
          <h4 class="info-subblock-title">Details & Featurestion</h4>
          <pre class="info-subblock-text pre text">
Gender: man 
Size: 46x54.5mm 
Case Colour: Steel 
Band Material: Metal
Case Material: Metal 
Features: Multifunction 
Water Resistant: 5
(ATM) Band Colour: Steel</pre
          >
        </div>
      </div>
    </div>
  </div>
</section>
