.about-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-title {
  font-family: 'Epilogue-600', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #1e2827;
}

.about-text {
  font-family: 'Epilogue-300', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-container {
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-container::after {
  content: '';
  background-image: url(../img/watchspot.gif);
  background-size: cover;
  background-position: 50% 50%;
  width: 335px;
  height: 365px;
}

.about-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .about-container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .about-list {
    flex-direction: row;
  }

  .about-container::after {
    width: 704px;
    height: 465px;
  }

  .about-row {
    flex-direction: row;
  }

  .about-title {
    font-size: 40px;
    line-height: 1.1;
    min-width: 174px;
  }
}
