.about-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-title {
  font-family: 'Epilogue-600', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1, 25;
  letter-spacing: -0.02em;
  color: var();
}
