.about-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-title {
  font-family: 'Epilogue-600', sans-serif;
  font-weight: 600;
}

.about-text {
  font-family: 'Epilogue-300', sans-serif;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-container::after {
  content: '';
  background-image: url(../img/watchspot.gif);
  background-size: cover;
  background-position: 50% 50%;
  width: 335px;
  height: 365px;
}

.about-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .about-list {
    flex-direction: row;
  }

  .about-container::after {
    width: 704px;
    height: 465px;
  }

  .about-row {
    flex-direction: row;
  }

  .about-title {
    font-size: 40px;
    line-height: 1.1;
    min-width: 174px;
  }
}

@media screen and (min-width: 1280px) {
  .about-row {
    gap: 110px;
  }

  .about-list {
    gap: 40px;
  }

  .about-container::after {
    width: 892px;
    height: 500px;
    margin-left: 286px;
  }

  .about-item {
    width: 439px;
  }

  .about-item-small {
    width: 380px;
  }
}
