.catalog {
    padding: 40px 0;
}

.catalog-title {
    font-family: 'Epilogue-600';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;

    color: var(--color-dark-green);

    margin-bottom: 40px;
}

.catalog-elements {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 0;
    margin-bottom: 40px;
}

.catalog-element {
    width: 100%;
}

.catalog-container-pictures {
    position: relative;
    overflow: hidden;
    max-width: 336px;
    height: 360px;
}

.catalog-pictures {
    position: absolute;
    display: block;
    display: flex;

    text-align: center;
    justify-content: center;


    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 43px 0;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-element:hover .catalog-pictures,
.catalog-element:focus .catalog-pictures {
    transform: translateY(-101%);
}

.catalog-picture {
    align-items: center;
}

.catalog-pictures-title {
    max-width: 276px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: 'Epilogue-400';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;

    color: #141414;

    margin-bottom: 4px;
}

.catalog-pictures-text {
    font-family: 'Epilogue-400';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.02em;

    color: rgba(20, 20, 20, 0.5);
}


.catalog-overlay {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 40px 32px;

    background-color: #1E2827;
    border-radius: 8px;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.catalog-element:hover .catalog-overlay,
.catalog-element:focus .catalog-overlay {
    transform: translateY(0);
}

.catalog-overlay-bloc {
    width: 236px;
    margin-bottom: 14px;
}

.catalog-overlay-title {
    font-family: 'Epilogue-400';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 10px;
}

.catalog-overlay-text {
    font-family: 'Epilogue-400';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.01em;

    color: rgba(255, 255, 255, 0.5);
}

.catalog-element-hidden {
    visibility: hidden;
    display: none;
}

.catalog-button {
    display: block;

    font-family: 'Epilogue-400';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    color: #FFFFFF;

    background: #1E2827;
    border-radius: 8px;

    text-align: center;
    text-transform: uppercase;
    border: 1px solid #1E2827;

    color: #FFFFFF;
    padding: 14px 28px;

    margin-left: auto;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-button:hover,
.catalog-button:focus {
    border: 1px solid #FFFFFF;
}

@media screen and (min-width: 375px) {
    .catalog-elements {
        max-width: none;
        width: 336px;
    }

    .catalog-element {
        width: 336px;
    }
}


@media screen and (min-width: 768px) {

    .catalog {
        padding: 0 64px;
    }

    .catalog-title {
        font-size: 40px;
        line-height: 1, 1;
    }

    .catalog-elements {
        width: 704px;
        gap: 40px 32px;
    }

    .catalog-button {
        padding: 18px 35px;
    }
}


@media screen and (min-width: 1280px) {

    .catalog {
        padding: 80px;
    }

    .catalog-elements {
        width: 1218px;
        gap: 64px 24px;
    }

    .catalog-element {
        width: 276px;
    }

    .catalog-button {
        padding: 18px 35px;
    }

    .catalog-element-hidden {
        visibility: visible;
        display: block;
    }

    .catalog-element {
        width: 276px;
    }

    .catalog-container-pictures {
        max-width: none;
        width: 276px;
        height: 325px;
    }

    .catalog-pictures {
        padding: 26px 0;
    }
}