.header {
  position: absolute;
  background-color: #141414;
  max-width: 374px;
}

.header-logo {
  width: 14px;
  height: 14px;
}

.logo-text {
  font-family: Epilogue-400, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  letter-spacing: -3%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.heder-logo {
  width: 24px;
  height: 24px;
}
