.header {
  background-color: №141414;
  max-width: 375px;
}

.header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 20px 0 20px;
  background-color: #141414;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  min-width: 375px;
  margin: 0 auto;
}
.logo-box {
  position: absolute;
  top: 32px;
  left: 20px;
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.header-logo {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Epilogue-400', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  letter-spacing: -3%;
  color: #ffffff;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  fill: #ffffff;
  stroke: #ffffff;
}

.icon-cross {
  width: 100%;
}

.nav {
  display: none;
}

.container.js-menu-container .icon-cross {
  display: none;
}

.container.js-menu-container.is-open .icon-cross {
  display: block;
}

.is-open {
  background-color: #1e2827;
  height: 100%;
}
.is-open .nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container.js-menu-container .nav {
  display: none;
}

.container.js-menu-container.is-open .nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 14px;
}

.menu-nav-item {
  font-family: 'Epilogue-400', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.25em;
  color: #ffffff;
  text-transform: uppercase;
}
