.header {
  position: absolute;
  background-color: #141414;
  padding: 28px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  max-width: 374px;
}

.logo-box {
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.header-logo {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Epilogue-400', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  letter-spacing: -3%;
  color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: none;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  fill: #ffffff;
}
