.hero {
  background-color: var(--color-black);
  padding-top: 122px;
  padding-bottom: 40px;
}
.hero_title {
  max-width: 335px;
  color: var(--color-white);
  font-family: 'Epilogue-600';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: calc(40 / 38);

  letter-spacing: -0.04em;
}
.hero_slogan {
  width: 248px;
  color: var(--color-white);
  font-family: 'Epilogue-300';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  margin-left: auto;
}

.hero_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
}

.hero_slider-controller {
  display: flex;
  align-items: flex-end;
}
.hero_btn-conteiner {
  display: flex;
  gap: 12px;
}
.hero_slider-btn {
  display: flex;
  margin-top: 20px;
  background-color: var(--color-black);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.hero_btn-icon {
  stroke: var(--color-white);
  height: 20px;
  width: 20px;
}
.hero_slider-btn:hover {
  border: 1px solid #ffffff;
  transition: var(--transition-duration);
}

.hero_counter-conteiner {
  display: flex;
  gap: 44px;
  margin-left: 116px;
}
.hero_slider-counter {
  color: var(--color-white);
}
.hero_slider-counter-hyphen {
  position: relative;
}
.hero_slider-counter-hyphen::after {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 1px;
  background-color: var(--color-white);
  left: 22px;
  top: 9px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 148px;
    padding-bottom: 64px;
  }
  .hero_list {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero_title {
    max-width: 653px;
    font-size: 60px;
    line-height: calc(62 / 60);

    margin-left: 32px;
  }
  .hero_slider-btn {
    width: 40px;
    height: 40px;
  }
  .hero_slogan {
    position: absolute;
    right: 32px;
    top: 464px;
  }
  .hero_counter-conteiner {
    margin-left: 262px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero_title {
    max-width: 750px;
  }
  .hero_slogan {
    width: 282px;
    position: absolute;
    right: 132px;
    top: 148px;
  }
}
