.hero {
  background-color: var(--color-black);
  height: 1192px;
  background-image: url(../img/min_background/min_background_tel.jpg);
  background-repeat: no-repeat;
  background-position: 50% 95%;
}
.hero_title {
  width: 335px;
  color: var(--color-white);
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 40px;

  letter-spacing: -0.04em;

  padding-top: 122px;
}
.hero_slogan {
  width: 248px;
  color: var(--color-white);
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  margin-left: 87px;
}

.hero_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
}

.hero_slider-controller {
  display: flex;
  align-items: flex-end;
}
.hero_btn-conteiner {
  display: flex;
  gap: 12px;
}
.hero_slider-btn {
  margin-top: 20px;
  background-color: var(--color-black);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 32px;
  height: 32px;
}
.hero_btn-icon {
  stroke: var(--color-white);
  height: 9px;
  width: 9px;
}

.hero_counter-conteiner {
  display: flex;
  gap: 44px;
  margin-left: 116px;
}
.hero_slider-counter {
  color: var(--color-white);
}
.hero_slider-counter-hyphen {
  position: relative;
}
.hero_slider-counter-hyphen::after {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 1px;
  background-color: var(--color-white);
  left: 22px;
  top: 9px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 1223px;
    background-image: url(../img/min_background/min_background_table.jpg);
  }

  .hero_list {
    flex-direction: row;
  }
  .hero_title {
    width: 653px;
    font-size: 60px;
    line-height: 62px;

    padding-top: 148px;
    margin-left: 32px;
  }
  .hero_slider-btn {
    width: 40px;
    height: 40px;
  }
}
