li {
  list-style-type: none;
}
.hero {
  background-color: var(--color-black);
  height: 1192px;
  background-image: url(../img/min_background/min_background_tel.jpg);
  background-repeat: no-repeat;
  background-position: 50% 95%;
}
.hero_title {
  width: 335px;
  color: var(--color-white);
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 40px;

  letter-spacing: -0.04em;

  padding-top: 122px;
}
.hero_slogan {
  width: 248px;
  color: var(--color-white);
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.02em;

  margin-left: 87px;
}
.hero_slider-counter {
  color: var(--color-white);
}
.container {
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.hero_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 60px;
}
.hero_slider-btn {
  margin-top: 20px;
  background-color: var(--color-black);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  width: 32px;
  height: 32px;
}
.hero_btn-icon {
  stroke: var(--color-white);
  height: 9px;
  width: 9px;
}
.hero_slider-counter-hyphen {
  position: relative;
}
.hero_slider-counter-hyphen::after {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 1px;
  background-color: var(--color-white);
  left: 22px;
  top: 9px;
}

.hero_slider-controller {
  display: flex;
  align-items: flex-end;
}
.hero_counter-conteiner {
  display: flex;
  gap: 44px;
  margin-left: 116px;
}
.hero_btn {
  display: flex;
  gap: 12px;
}
