/* backdrop */
.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 250ms, visibility 250ms;
}
.modal {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 335px;
    height: 95%;
    position: relative;
    overflow: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms;
    background: var(--color-white) ;
    box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05), 0px 0px 130.6px rgba(0, 0, 0, 0.037963), 0px 0px 71.0296px rgba(0, 0, 0, 0.0303704), 0px 0px 36.2375px rgba(0, 0, 0, 0.025), 0px 0px 18.1704px rgba(0, 0, 0, 0.0196296), 0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
    padding: 40px 20px;
}


.modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    stroke: var(--color-text);
    background-color: var(--color-white);
    border: none;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
stroke: var(--color-black);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 

/* modal */
.modal-picture {
    width: 100%;
}
.modal-descr {
    margin-top: 14px;
}
.modal-text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    
    color: var(--color-black);
}

.modal-price {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    
    color: var(--color-text);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field  {
    margin-bottom: 18px;
}

.modal-form-input-descr {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    display: block;
    color: var(--color-black);
    margin-bottom: 12px;
}

.modal-form-input {
    width: 100%;
    height: 42px;
    border: 1px solid var(--color-text);
    border-radius: 8px;
    padding-left: 16px;
    color: rgba(20, 20, 20, 0.5);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:not(:placeholder-shown):required:valid {
    border-color: green;
}

.modal-form-input:not(:placeholder-shown):required:invalid {
    border-color: red;
}

.modal-form-input:focus {
    border-color: var(--color-dark-green);
    outline: none;
}

.modal-form-input::placeholder {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
}

.modal-form-message {
    display: block;
    margin-top: 4px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    color: rgba(20, 20, 20, 0.5);
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    border-color: var(--color-dark-green);
    outline: none;
}

.modal-form-message::placeholder {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
}


.modal-form-submit {
    align-self: center;
    padding: 18px 36px;
    min-width: 100%;
    border: transparent;
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-white);
    background-color: var(--color-dark-green);
    font-family: var(--primary-font) ;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    border: 1px solid var(--color-dark-green);
    text-transform: uppercase;
    margin-top: 20px;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    
border: 1px solid var(--color-white);
}

.modal-form-text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.4);

    margin-top: 12px;
}


@media screen and (min-width: 768px) {
.modal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 744px;
    padding: 40px;
    height: auto;
    }
.modal-form {
    max-width: 368px;
}
.modal-form-submit {
    padding: 18px 36px;
    width: 100%;
}

}

@media screen and (min-width: 1280px) {
.modal {
    gap: 40px;
    max-width: 904px;
    }

    .modal-form {
        max-width: 508px;
    }
.modal-form-field {
    margin-bottom: 24px;
}
    .modal-form-submit {
        padding: 18px 36px;
        width: 100%;
        margin-top: 40px;
    }
}