/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@font-face {
  font-family: "Epilogue-300";
  src: url(/fonts/Epilogue-Light.ttf);
}
@font-face {
  font-family: "Epilogue-400";
  src: url(/fonts/Epilogue-Regular.ttf);
}
@font-face {
  font-family: "Epilogue-600";
  src: url(/fonts/Epilogue-SemiBold.ttf);
}
@font-face {
  font-family: "NeueMontreal-400";
  src: url(/fonts/NeueMontreal-Regular.otf);
}
:root {
  --color-dark-green: #1e2827;
  --color-black: #141414;
  --color-white: #ffffff;
  --primary-font: font-family: "Epilogue-400"; 
  --secondary-font: font-family: "Epilogue-300"; 
  --heading-font: font-family: "Epilogue-600";
  --price-font: font-family: "NeueMontreal-400";
}

@import url('./root.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
/* about us */
/* catalog */
/* new watches */
/* sale */
/* footer */
/* buy now */
/* burger menu */
